.table-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.table-wrapper {
    width: 48%;
    margin-bottom: 20px; 
}

h3 {
    color: #333;
    margin-bottom: 20px;
}


.table {
    width: 90%;
    border-collapse: collapse;
    margin: 20px auto;
    margin-bottom: 20px;
}

    .table th, .table td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    .table th {
        background-color: #0842607f;
        color: #333;
    }

    .table tbody tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    .table tbody tr:hover {
        background-color: #f0f0f0;
    }
